{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="card justify-content-center" style="width: 85%; margin-top: 15px;">
        <div class="card-body justify-content-center">
        <h5 class="card-title">{{error.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{error.language}}</h6>
        <p class="card-text">{{error.description}}</p>
        {% if error.user == user %}
        <div class="card-action">
            <a href="{% url 'error_update' error.id %}" class="btn">Edit</a>
            <a href="{% url 'error_delete' error.id %}" class="btn">Delete</a>
        </div>
        {% endif %}
        <hr>
        <form action="{% url 'add_comment' error.id %}" method="POST">
            {% csrf_token %}
            <h6>Add a Comment:</h6>
            <span class="comment-box">{{comment_form.text_input}}</span>
            <br>
            <h6>Date:</h6> {{comment_form.date}}
            <br>
            <input type="submit" value="Submit" class="btn">
        </form>
        </div>
    </div>

    {% for comment in error.comment_set.all %}
    {% csrf_token %}
    <div class="card" style="width: 85%; margin-top: 5px;">
        <div class="card-body">
            <h5>Comment by -insert username-</h5>
            <h6>{{ comment.date }}</h6>
            <hr>
            <p>{{ comment.text_input }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}