{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <h1>Coding Challenges</h1>
    <h4>Checkout the different challenges below to help sharpen your coding abilities!</h4>

    {% for problem in problems%}
    {% csrf_token %}
    <a href="{% url 'challenge_detail' problem.id %}">
        <div class="card" style="width: 20%;">
            <div class="card-body">
                <div class="card-title">{{ problem.title }}</div>
                <div class="card-subtitle">{{ problem.problem }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}