{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <h1>Coding Challenges</h1>
    <h4>Checkout the different challenges below to help sharpen your coding abilities!</h4>
    <div class="container flex-row">
        {% for problem in problems%}
        {% csrf_token %}
        <div class="card challenge-card d-inline-flex" style="width: 30%;">
            <a href="{% url 'challenge_detail' problem.id %}">
                <div class="card-body">
                    <div class="card-title">{{ problem.problem }}</div>
                    <div class="card-subtitle">{{ problem.title }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}