{% extends 'base.html' %}

{% block content %}
<form class="d-flex p-2" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline" type="submit">Search</button>
  </form>
  <hr>
<div class="container d-flex flex-column align-items-center justify-content-center">
  {% for error in errors %}
  {% csrf_token %}
  <div class="card" style="width: 85%;">
    <a href="{% url 'error_detail' error.id %}" class="text-decoration-none text-black">
    <div class="card-body">
      <h5 class="card-title">{{ error.title }}</h5>
      <h6 class="card-subtitle mb-2">{{ error.language }}</h6>
      <p class="card-text">{{ error.description }}</p>
      <p class="card-text">{{ error.date }}</p>
      {% if error.solution %}
      <p class="card-text solved">Solved</p>
      {% else %}
      <p class="card-text unsolved">Unsolved</p>
      {% endif %}
    </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}